{% if GITHUB_USER %}
<div class="section">
  <div class="card-panel z-depth-1">
    <div class="card black-text sidebar-title">
      <span class="black-text sidebar-title-text"><a href="https://github.com/{{ GITHUB_USER }}" class="black-text flow-text" id="title">GitHub</a></span>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12">
        <div class="card-action">
          <ul class="" id="gh_repos">
			<li class="loading">状态更新中...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% if GITHUB_REPO_COUNT is not defined %}
    {% set GITHUB_REPO_COUNT = 5 %}
  {% endif %}
  {% if GITHUB_SKIP_FORK is not defined %}
    {% set GITHUB_SKIP_FORK = "false" %}
  {% else %}
    {% if GITHUB_SKIP_FORK %}
      {% set GITHUB_SKIP_FORK = "true" %}
    {% else %}
      {% set GITHUB_SKIP_FORK = "false" %}
    {% endif %}
  {% endif %}
<script type="text/javascript">
$(document).ready(function () {
    if (!window.jXHR) {
        var jxhr = document.createElement('script');
        jxhr.type = 'text/javascript';
        jxhr.src = '/theme/js/jXHR.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jxhr, s);
    }

    github.showRepos({
        user: '{{ GITHUB_USER }}',
        count: {{ GITHUB_REPO_COUNT }},
        skip_forks: {{ GITHUB_SKIP_FORK }},
        target: '#gh_repos'
    });
});
</script>
<script type="text/javascript">
  var github = (function(){
    function escapeHtml(str) {
      return $('<div/>').text(str).html();
    }
    function render(target, repos){
      var i = 0, fragment = '', t = $(target)[0];
      fragment += '<ul class="list-group" id="github">';

      for(i = 0; i < repos.length; i++) {
        fragment += '<li class="list-group-item"><a href="'+repos[i].html_url+'">'+repos[i].name+'</a><p>'+escapeHtml(repos[i].description||'')+'</p></li>';
      }
      fragment += '</ul>';
      t.innerHTML = fragment;
    }
    return {
      showRepos: function(options){
        $.ajax({
            url: "https://api.github.com/users/"+options.user+"/repos?callback=?"
          , dataType: 'jsonp'
          , error: function (err) { $(options.target + ' li.loading').addClass('error').text("网络加载失败.."); }
          , success: function(data) {
            var repos = [];
            if (!data || !data.data) { return; }
            for (var i = 0; i < data.data.length; i++) {
              if (options.skip_forks && data.data[i].fork) { continue; }
              repos.push(data.data[i]);
            }
            repos.sort(function(a, b) {
              var aDate = new Date(a.pushed_at).valueOf(),
                  bDate = new Date(b.pushed_at).valueOf();

              if (aDate === bDate) { return 0; }
              return aDate > bDate ? -1 : 1;
            });

            if (options.count) { repos.splice(options.count); }
            render(options.target, repos);
          }
        });
      }
    };
  })();
</script>
</div>
{% endif %}
