{% if GITHUB_USER %}
<div class="section">
  <div class="card-panel z-depth-1">
    <div class="card black-text sidebar-title">
      <span class="black-text sidebar-title-text"><a href="https://github.com/{{ GITHUB_USER }}" class="black-text flow-text" id="title">GitHub</a></span>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12">
        <div class="card-action">
          <ul class="" id="gh_repos">
			<li class="loading">状态更新中...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% if GITHUB_REPO_COUNT is not defined %}
    {% set GITHUB_REPO_COUNT = 5 %}
  {% endif %}
  {% if GITHUB_SKIP_FORK is not defined %}
    {% set GITHUB_SKIP_FORK = "false" %}
  {% else %}
    {% if GITHUB_SKIP_FORK %}
      {% set GITHUB_SKIP_FORK = "true" %}
    {% else %}
      {% set GITHUB_SKIP_FORK = "false" %}
    {% endif %}
  {% endif %}
<script type="text/javascript">
$(document).ready(function () {
    if (!window.jXHR) {
        var jxhr = document.createElement('script');
        jxhr.type = 'text/javascript';
        jxhr.src = '/theme/js/jXHR.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jxhr, s);
    }

    github.showRepos({
        user: '{{ GITHUB_USER }}',
        count: {{ GITHUB_REPO_COUNT }},
        skip_forks: {{ GITHUB_SKIP_FORK }},
        target: '#gh_repos'
    });
});
</script>
<script src="/theme/js/github.js" type="text/javascript"> </script>
</div>
{% endif %}
