{% extends "base.html" %}
{% block title %}{{ SITENAME }} - 分类列表{% endblock %}
{% block breadcrumb %}<div class="normal"><div class="collapsible-header"><a href="#"><i class="material-icons">loyalty</i>分类列表</a></div>{% endblock %}
{% block breadcrumbcontent %}<p>This is categories...</p>{% endblock %}
{% block content %}
<div class="section">
  <div class="z-depth-1">
    {% if articles %}
      {% for article in articles %}        
        {% if loop.index == 1 %}
          <ul class="collection">
            {% for category, articles in categories %}
              <li class="collection-item dismissable"><div><a href="/{{ category.url }}">{{ category }}</a><a href="/{{ category.url }}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
