{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb %}<div class="normal"><div class="collapsible-header active"><a href="#"><i class="mdi-action-loyalty"></i>列表</a></div>{% endblock %}
{% block breadcrumbcontent %}<p>This is pages...</p>{% endblock %}
{% block content %}        

<div class="section">
  <div class="card z-depth-1">
    <div class="card-content black-text">
      <span class="card-title black-text"><a href="/{{ page.url }}" class="black-text flow-text" id="title">{{ page.title }}</a></span>
      {{ page.content }}
    
    </div>
    <div class="card-action">
      {% if PDF_PROCESSOR %}<h3 class="blogMeta"><a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a></h3>{% endif %}
      <a class="orange-text text-accent-2" href="/{{ page.category.url }}" onclick="">{{ page.locale_date }}</a>
    </div>
  </div>
</div>

{% endblock %}
