{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb %}<div class="normal"><div class="collapsible-header"><a href="#"><i class="mdi-action-loyalty"></i>列表</a></div>{% endblock %}
{% block breadcrumbcontent %}<p>This is pages...</p>{% endblock %}
{% block content %}        

<div class="blogItem">
    <h2><a href="{{ SITEURL }}/pages/{{ page.url }}">{{ page.title }}</a></h3>
	{{ page.content }}
    
    {% if PDF_PROCESSOR %}<h3 class="blogMeta"><a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a></h3>{% endif %}  
</div>

{% endblock %}
